.inp-form {
  width: 30rem;
  height: 30rem;
  margin: 100px auto 0;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4% 3%;
  border-radius: 50px;
  background-image: url(https://wallpapers.com/images/hd/akatsuki-aesthetic-70sezw64ahw0rqrh.jpg);
  border: 1px solid white;
}

.h2 {
  margin-bottom: 5%;
  font-size: 150%;
  padding: 3%;
  background-color: rgb(18, 18, 18);
  border: 3px solid orangered;
  color: orangered;
  border-radius: 50px;
}

.inp-form input {
  width: 80%;
  margin: 1%;
  padding: 2.5% 4%;
  border-radius: 50px;
  border: none;
  color: white;
  outline: none;
  background-color: rgb(18, 18, 18);
  cursor: pointer;
}

.inp-form select {
  width: 90%;
  margin: 1%;
  padding: 2.5% 4%;
  border-radius: 50px;
  border: none;
  outline: none;
  color: white;
  background-color: rgb(18, 18, 18);
  cursor: pointer;
}

.inp-name {
  width: 15%;
  height: 50px;
  color: black;
}

.placeholder {
  color: white;
}

.text-name {
  width: 80%;
  padding: 2.5% 4%;
  border-radius: 25px;
  border: none;
  outline: none;
  background-color: rgb(18, 18, 18);
  color: white;
  cursor: pointer;
}

.btn-name {
  padding: 2% 5%;
  font-weight: 700;
  margin-top: 15px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
