* {
  font-size: 16px;
  font-family: "Bebas Neue", sans-serif;
}
.Home {
  background-color: #000;
  z-index: -1000;
  position: relative;
}
.manga {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.manga.animate {
  opacity: 1;
  transform: translateY(0);
}

.home--odd {
  background-color: #ffac04;
}
.home--even {
  background-color: #e0dcdc;
}
.home--logo {
  position: fixed;
  max-width: 140px;
  max-height: 140px;
  top: 20px;
  left: 20px;
  z-index: 999999;
}
.home--logo img {
  width: 100%;
}
.line {
  height: 9790px;
  width: 3px;
  background-color: #000;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
img {
  max-width: 100%;
  max-height: 100%;
}
/* --------------------------------------------      START OF 1st BOOK   -------------------------------------------------------------------- */
#home__first {
  height: 1920px;
  max-width: 100%;
}
#naruto__first--pic {
  left: 2%;
  position: absolute;
  z-index: 1;
  opacity: 0;
  width: 50%;
  transform: translateX(-50px) translateY(-100px);
  transition: transform 1s ease, opacity 1s ease;
}

#naruto__first--pic.animate {
  opacity: 1;
  transform: translateX(0) translateY(0) scale(1);
}

.home--first__about {
  top: 150px;
  left: 25%;
  position: absolute;
  background-color: black;
  color: white;
  width: 58%;
  padding: 10px;
}
.home--first__descr {
  display: flex;
  margin-top: 100px;
  padding-bottom: 20px;
  align-items: center;
  gap: 20px;
  margin-left: 15%;
  position: relative;
  width: 80%;
}

.home--first__descr p {
  letter-spacing: 1px;
  font-size: 24px;
  font-family: "Bebas Neue", sans-serif;
}

.home--first__h1 {
  position: absolute;
  left: 10%;
  z-index: 2;
  background-color: black;
  padding-top: 10px;
}

.home--first__h1 h1 {
  font-size: 90px;
  font-weight: normal;
  line-height: 1;
  font-family: "Bebas Neue", sans-serif;
}
#first--arc__year {
  position: absolute;
  left: 35%;
  top: 425px;
}
#first--arc__title {
  position: absolute;
  left: 52%;
  top: 460px;
}
#mangaFirstLeft {
  position: absolute;
  z-index: 8;
  top: 770px;
  left: 14%;
}
#mangaFirstCenter {
  position: absolute;
  z-index: 8;
  top: 712px;
  left: 39%;
}
#mangaFirstRight {
  position: absolute;
  z-index: 7;
  top: 710px;
  left: 59%;
}

#mangaFirstSasukePic {
  position: absolute;
  z-index: 8;
  top: 1030px;
  left: 11%;
}

#mangaFirstKissNearSasuke {
  position: absolute;
  z-index: 7;
  top: 1040px;
  left: 30.9%;
}

#mangaFirstTextUnderSasuke {
  position: absolute;
  z-index: 8;
  top: 1380px;
  left: 22%;
}

#mangaFirstSakuraPic {
  position: absolute;
  z-index: 8;
  top: 990px;
  left: 49.5%;
}

#mangaFirstKakashiNearSakura {
  position: absolute;
  z-index: 7;
  top: 1114px;
  left: 59%;
}

#mangaFirstTextUnderSakura {
  position: absolute;
  z-index: 8;
  top: 1460px;
  left: 52.5%;
}

#mangaFirstBubenchiki {
  position: absolute;
  z-index: 8;
  top: 1475px;
  left: 14.1%;
}

#mangaFirstTextPodBubenchikami {
  position: absolute;
  z-index: 8;
  top: 1800px;
  left: 34.5%;
}
/* -----------------------------------------     END OF 1st BOOK   ------------------------------------------------------------- */
/* -----------------------------------------    START OF 2nd BOOK    --------------------------------------------------------- */
#home__second {
  height: 1200px;
  position: relative;
  z-index: -1;
}
#hakuPic {
  position: absolute;
  z-index: 7;
  left: 11.5%;
  top: 20px;
}
#mangaTitle2 {
  position: absolute;
  z-index: 7;
  left: 28.5%;
  top: 80px;
}
#ZabuzaUnderHaku {
  position: absolute;
  z-index: 8;
  left: 27%;
  top: 300px;
}
#textUnderZabuza {
  position: absolute;
  z-index: 8;
  left: 22%;
  top: 590px;
}
#GrandpaWithSake {
  position: absolute;
  z-index: 7;
  left: 50%;
  top: 20px;
}
#year2000 {
  position: absolute;
  z-index: 8;
  left: 69%;
  top: 50px;
}
#hakuWithoutMask {
  position: absolute;
  z-index: 8;
  left: 69.5%;
  top: 180px;
}
#kakashiVsZabuza {
  position: absolute;
  z-index: 8;
  left: 14.5%;
  top: 700px;
}
#sasukeVsHaku {
  position: absolute;
  z-index: 8;
  left: 50%;
  top: 545px;
}
/* --------------------------------------       END OF 2nd BOOK    ------------------------------------------------------------ */
#team7Big {
  max-width: 100%;
  position: relative;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  transition: clip-path 2s ease;
}

#team7Big.animate {
  clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 20% 100%);
}

#team7Big img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* ------------------------------------       START OF 3rd BOOK    ------------------------------------------------------------------ */
#home__third {
  height: 1850px;
  position: relative;
  z-index: -1;
}
#year2001 {
  position: absolute;
  z-index: 7;
  left: 25%;
  top: 60px;
}
#leeAndNeji {
  position: absolute;
  z-index: 8;
  left: 15.2%;
  top: 55px;
}
#narutoNearNeji {
  position: absolute;
  z-index: 7;
  left: 33%;
  top: 198px;
}
#kiba {
  position: absolute;
  z-index: 7;
  left: 15%;
  top: 650px;
}
#guyAndLee {
  position: absolute;
  z-index: 8;
  left: 21.5%;
  top: 1175px;
}
#sandSphere {
  position: absolute;
  z-index: 8;
  left: 16%;
  top: 1480px;
}
#bookTitle3 {
  position: absolute;
  z-index: 7;
  left: 51.5%;
  top: 70px;
}
#gaaraUpsideDown {
  position: absolute;
  z-index: 7;
  left: 50%;
  top: 200px;
}
#inoVsSakura {
  position: absolute;
  z-index: 7;
  left: 50%;
  top: 535px;
}
#shikamaruAndShino {
  position: absolute;
  z-index: 8;
  left: 50%;
  top: 955px;
}
#leeVsGaara {
  position: absolute;
  z-index: 7;
  left: 50%;
  top: 1075px;
}
#chidoryBySasuke {
  position: absolute;
  z-index: 7;
  left: 60%;
  top: 1600px;
}
/* ---------------------------------------------    BOOK 3 END         --------------------------------------------------------- */
/* --------------------------------------------     BOOK 4 START          ------------------------------------------------------ */
#home__fourth {
  height: 2400px;
  position: relative;
  z-index: -1;
}
#bookTitle4 {
  position: absolute;
  z-index: 7;
  left: 17%;
  top: 60px;
}
#year2002 {
  position: absolute;
  z-index: 7;
  left: 21%;
  top: 175px;
}
#creepingThreat {
  position: absolute;
  z-index: 7;
  left: 36%;
  top: 220px;
}
#oruch {
  position: absolute;
  z-index: 9;
  left: 10%;
  top: 160px;
}
#sandNinjas {
  position: absolute;
  z-index: 8;
  left: 25%;
  top: 320px;
}
#demonOfDeath {
  position: absolute;
  z-index: 7;
  left: 17.5%;
  top: 575px;
}
#titleNarutoVsGaara {
  position: absolute;
  z-index: 7;
  left: 23%;
  top: 1180px;
}
#babyGaara {
  position: absolute;
  z-index: 7;
  left: 20.5%;
  top: 1280px;
}
#shukaku {
  position: absolute;
  z-index: 8;
  left: 29%;
  top: 1245px;
}
#garaCrying {
  position: absolute;
  z-index: 7;
  left: 21.5%;
  top: 1670px;
}

#narutoClosedEyes {
  position: absolute;
  z-index: 7;
  left: 33.5%;
  top: 1850px;
}

#oruchMask {
  position: absolute;
  z-index: 7;
  left: 51%;
  top: 50px;
}

#twoHokages {
  position: absolute;
  z-index: 7;
  left: 57.5%;
  top: 240px;
}

#titleHiruzenVsOruch {
  position: absolute;
  z-index: 7;
  left: 52.5%;
  top: 640px;
}

#hiruzenDies {
  position: absolute;
  z-index: 7;
  left: 50%;
  top: 740px;
}

#gaaraVsNaruto {
  position: absolute;
  z-index: 7;
  left: 50%;
  top: 1228px;
}
/* -------------------------------------------          BOOK 4 END      --------------------------------------------------------- */
/* -----------------------------------------            BOOK 5 START     ---------------------------------- */
#home__fifth {
  height: 1500px;
  position: relative;
  z-index: -1;
}
#itachi {
  position: absolute;
  z-index: 8;
  left: 16%;
  top: 25px;
}

#kakashi {
  position: absolute;
  z-index: 7;
  left: 22%;
  top: 50px;
}
#moonItachi {
  position: absolute;
  z-index: 8;
  left: 26%;
  top: 570px;
}
#lilSaske {
  position: absolute;
  z-index: 7;
  left: 21%;
  top: 695px;
}
#saskeChidori {
  position: absolute;
  z-index: 7;
  left: 31%;
  top: 1050px;
}
#bookTitle5 {
  width: 45%;
  position: relative;
  z-index: 7;
  left: 52%;
  top: 50px;
  max-width: 500px;
}
#kisameAndItachi {
  position: relative;
  z-index: 7;
  left: 51.5%;
  top: 145px;
  width: 500px;
  max-width: 100%;
}
#year2003 {
  position: relative;
  z-index: 8;
  left: 52%;
  top: 460px;
  max-width: 222px;
}
/*     -------------                MEDIA   -----------------            */

@media (max-width: 1025px) {
  .home--first__h1 h1 {
    font-size: 50px;
  }
  .home--first__descr {
    margin-top: 70px;
  }
  .home--first__descr p {
    font-size: 16px;
  }
  #first--arc__year {
    width: 100px;
    height: 100px;
    top: 350px;
  }
  #mangaFirstLeft {
    max-width: 45%;
  }
  #mangaFirstCenter {
    max-width: 35%;
  }
  #mangaFirstRight {
    max-width: 40%;
  }
  #mangaFirstSasukePic {
    width: 30%;
  }
  #mangaFirstKissNearSasuke {
    width: 20%;
    left: 30%;
  }
  #mangaFirstTextUnderSasuke {
    top: 1305px;
    max-width: 25%;
  }
  #mangaFirstSakuraPic {
    width: 35%;
    height: 300px;
  }
  #mangaFirstKakashiNearSakura {
    top: 994px;
  }
  #mangaFirstTextUnderSakura {
    max-width: 30%;
    top: 1320px;
  }
  #mangaFirstBubenchiki {
    top: 1430px;
    left: 9%;
    max-width: 80%;
  }
  #mangaFirstTextPodBubenchikami {
    max-width: 15%;
  }
  #hakuPic {
    max-width: 25%;
    left: 10%;
  }
  #mangaTitle2 {
    max-width: 20%;
  }
  #ZabuzaUnderHaku {
    max-width: 20%;
  }
  #textUnderZabuza {
    left: 15%;
    top: 500px;
  }
  #GrandpaWithSake {
    max-width: 30%;
  }
  #year2000 {
    max-width: 100px;
    left: 77%;
  }
  #hakuWithoutMask {
    max-width: 22%;
    top: 140px;
    left: 75%;
  }
  #kakashiVsZabuza {
    top: 640px;
    max-width: 40%;
    left: 10%;
  }
  #sasukeVsHaku {
    max-width: 40%;
  }
  #year2001 {
    max-width: 150px;
  }
  #leeAndNeji {
    max-width: 20%;
  }
  #narutoNearNeji {
    max-width: 17%;
  }
  #kiba {
    max-width: 35%;
    top: 27%;
  }
  #guyAndLee {
    left: 15%;
    max-width: 35%;
    top: 52%;
  }
  #sandSphere {
    top: 70%;
    left: 10%;
    max-width: 40%;
  }
  #gaaraUpsideDown {
    max-width: 40%;
  }
  #inoVsSakura {
    top: 24%;
    max-width: 40%;
  }
  #shikamaruAndShino {
    top: 42%;
    max-width: 40%;
  }
  #leeVsGaara {
    top: 50%;
  }
  #chidoryBySasuke {
    top: 80%;
    left: 55%;
    max-width: 30%;
  }
  #bookTitle4 {
    max-width: 30%;
    top: 1%;
  }
  #year2002 {
    left: 20%;
    top: 5%;
    max-width: 150px;
  }
  #oruch {
    top: 4%;
    left: 5%;
    width: 22%;
  }
  #creepingThreat {
    left: 25%;
    top: 9%;
  }
  #sandNinjas {
    top: 10%;
    max-width: 35%;
  }
  #demonOfDeath {
    left: 10%;
    top: 20%;
    max-width: 40%;
  }
  #titleNarutoVsGaara {
    max-width: 30%;
    top: 47%;
    left: 16%;
  }
  #babyGaara {
    top: 50%;
    left: 20%;
    max-width: 30%;
  }
  #shukaku {
    left: 29%;
    max-width: 35%;
    top: 49%;
  }
  #garaCrying {
    left: 10%;
    max-width: 80%;
    top: 70%;
  }
  #narutoClosedEyes {
    top: 80%;
    left: 31%;
    max-width: 50%;
  }
  #home__fourth {
    max-height: 1800px;
  }
  #oruchMask {
    top: 1%;
    max-width: 40%;
  }
  #twoHokages {
    top: 8%;
    left: 60%;
    max-width: 30%;
  }
  #titleHiruzenVsOruch {
    top: 20%;
    max-width: 25%;
  }
  #hiruzenDies {
    top: 22%;
    max-width: 40%;
  }
  #gaaraVsNaruto {
    max-width: 30%;
    top: 48%;
  }
  #homefifth {
    max-width: 1200px;
  }
  #itachi {
    left: 11%;
    top: 2%;
    max-width: 22%;
  }
  #kakashi {
    left: 18%;
    max-width: 32%;
  }
  #moonItachi {
    top: 29%;
    left: 23%;
    max-width: 25%;
  }
  #lilSaske {
    top: 35%;
    max-width: 33%;
    left: 16%;
  }
  #saskeChidori {
    top: 62%;
    left: 28%;
    max-width: 60%;
  }
  #bookTitle5 {
    top: 2%;
    max-width: 40%;
  }
  #kisameAndItachi {
    top: 4%;
    max-width: 40%;
  }
  #year2003 {
    max-width: 150px;
    top: 20%;
  }
  .line {
    max-height: 8890px;
  }
}
/* ------------------------------        768px     -------------------- */
@media (max-width: 769px) {
  #home__first {
    max-height: 1160px;
  }
  #home__second {
    max-height: 750px;
  }
  #home__third {
    max-height: 1200px;
  }
  #home__fourth {
    max-height: 1400px;
  }
  #home__fifth {
    max-height: 910px;
  }
  .line {
    max-height: 6317px;
  }
  #naruto__first--pic {
    left: 0;
  }
  .home--first__about {
    padding: 5px;
    max-width: 520px;
    max-height: 144px;
    top: 1%;
  }

  .home--first__descr {
    padding-left: 20px;
    max-width: 460px;
    gap: 10px;
  }
  .home--first__descr--img {
    width: 22px;
  }
  .home--first__descr p {
    font-size: 12px;
  }
  #first--arc__year {
    top: 4%;
  }
  #first--arc__title {
    top: 4.5%;
    max-width: 35%;
  }
  #mangaFirstCenter {
    left: 33%;
    top: 7%;
  }
  #mangaFirstLeft {
    max-width: 40%;
    top: 8.3%;
    left: 5%;
  }
  #mangaFirstRight {
    top: 8%;
    max-width: 30%;
  }
  #mangaFirstSasukePic {
    left: 5%;
    top: 11%;
  }
  #mangaFirstTextUnderSasuke {
    top: 14%;
  }
  #mangaFirstKissNearSasuke {
    left: 30%;
    top: 11%;
  }
  #mangaFirstSakuraPic {
    top: 11%;
    max-height: 265px;
  }
  #mangaFirstKakashiNearSakura {
    max-width: 35%;
    top: 12.15%;
  }
  #mangaFirstTextUnderSakura {
    top: 15.5%;
  }
  #mangaFirstBubenchiki {
    top: 14.8%;
  }
  #mangaFirstTextPodBubenchikami {
    top: 17.7%;
  }
  #mangaTitle2 {
    top: 8%;
  }
  #ZabuzaUnderHaku {
    top: 25%;
  }
  #textUnderZabuza {
    top: 50%;
    max-width: 30%;
  }
  #kakashiVsZabuza {
    top: 60%;
  }
  #sasukeVsHaku {
    top: 50%;
  }
  #bookTitle3 {
    top: 3%;
    max-width: 35%;
  }
  #gaaraUpsideDown {
    top: 10%;
  }
  #creepingThreat {
    max-width: 20%;
  }
}
/* -------------------                425px      ---------------------------- */
@media (max-width: 426px) {
  #home__first {
    max-height: 645px;
  }
  #home__second {
    max-height: 400px;
  }
  #home__third {
    max-height: 715px;
  }
  #home__fourth {
    max-height: 780px;
  }
  #home__fifth {
    max-height: 505px;
  }
  .home--logo {
    max-width: 50px;
  }
  .home--first__h1 h1 {
    font-size: 32px;
  }
  .home--first__about {
    margin-top: 3%;
    max-width: 45%;
    max-height: 40px;
    display: flex;
  }
  .home--first__descr p {
    display: none;
  }
  .home--first__descr--img {
    display: none;
  }
  #first--arc__year {
    left: 31%;
    top: 3.5%;
    max-width: 77px;
    max-height: 53px;
  }
  #mangaFirstSakuraPic {
    width: 86px;
    height: 147px;
  }
  #year2000 {
    top: 5%;
    max-width: 77px;
    max-height: 53px;
  }
  #hakuWithoutMask {
    top: 18%;
  }
  #leeVsGaara {
    top: 48%;
    max-width: 35%;
  }
  #year2001 {
    max-width: 77px;
    max-height: 53px;
  }
  #year2002 {
    top: 4%;
    max-width: 77px;
    max-height: 53px;
  }
  #demonOfDeath {
    top: 22%;
  }
  #titleHiruzenVsOruch {
    top: 22%;
  }
  #hiruzenDies {
    top: 26%;
  }
  #kakashi {
    top: 5%;
  }
  #moonItachi {
    top: 36%;
  }
  #lilSaske {
    top: 42%;
  }
  #saskeChidori {
    top: 75%;
    left: 32%;
    max-width: 50%;
  }

  #year2003 {
    max-width: 60px;
  }
  .line {
    max-height: 3305px;
  }
}
@media (max-width: 376px) {
  #saskeChidori {
    top: 70%;
    left: 28%;
    max-width: 60%;
  }
  #year2003 {
    top: 23%;
  }
  .line {
    max-height: 3275px;
  }
  #first--arc__year {
    max-width: 60px;
  }
}
@media (max-width: 321px) {
  #home__first {
    max-height: 485px;
  }
  #home__second {
    max-height: 300px;
  }
  #home__third {
    max-height: 540px;
  }
  #home__fourth {
    max-height: 590px;
  }
  #home__fifth {
    max-height: 400px;
  }
  .home--first__about {
    width: 120px;
    height: 30px;
  }
  .home--first__h1 {
    padding-top: 5px;
  }
  .home--first__h1 h1 {
    font-size: 24px;
  }
  #first--arc__year {
    max-width: 50px;
  }
  #mangaFirstSakuraPic {
    width: 65px;
    height: 110px;
  }
  #year2000 {
    max-width: 50px;
  }
  #year2001 {
    max-width: 50px;
  }
  #year2002 {
    max-width: 50px;
  }
  #year2003 {
    max-width: 50px;
  }
  .line {
    max-height: 2513px;
  }
}
